body{
    height:100%;
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    overflow-x:hidden;
    background-color: black;
    scroll-behavior:smooth;

}
/* setting font of heading 1*/
h1{
    font-family: 'Rubik', sans-serif;
    font-weight:900;
    text-align:center;
    color:bisque;
    width:70%;

    /* font-family: 'Rubik Iso', cursive; */
}

/* setting font of heading 2 */
h2 {
    font-family: 'Fredoka One', cursive;
}

.section{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:bisque;
    height:1000px;
    width:100%;
}

/* styling the container for the video */
.video-container {
    height:100vh;
    width:100%;
    top:0;
    left:0;
/* to prevent video from being bigger than the container */
    overflow:hidden;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
/* wanted to create smooth scrolling from one section to the next but this doesn't seem to work. need to debug */
    scroll-behavior:smooth;
}

.video-container h1 {
    font-size:10rem;
/* make heading appear in front of the video */
    z-index:1;
    color:bisque;
    opacity:50%;
    text-align:center;
}

#video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* so that video covers the entire video-container nicely */
    object-fit:cover;
    /* make video centered in video-container */
    object-position:center;
    opacity:70%;
}

#nameBox {
    width:50%;
    height:50px;
    background-color:yellow;
   
}

/* change format of the input text */
input[type="text"]
{
    font-size:40px;
    color:#496d9d;
    text-align:center;
    font-family: 'Press Start 2P', cursive;

/* hide borders so that only an underline is shown */
    border-top-style:hidden;
    border-left-style:hidden;
    border-right-style:hidden;
    border-color:brown;
    border-width:7px;

/* remove text box outline when user clicks to enter name */
    outline:none;
}

/* formatting the nameButton */
#nameButton{
    font-family: 'Fredoka One', cursive;
    color:brown;
    border-radius:7px;
}

#name{
    color:bisque;
    text-align:center;
}

/* formatting the paragraph text */
.text {
    max-width:70%;
    text-align:center;
    font-family: 'Rubik', sans-serif;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

/* styling the yes/no button */
.yesNoButton {
    height:50px;
    width: 100px;
    font-size:20px;
    background-color:rgb(82, 176, 82);
    color:rgb(160, 221, 160);
    border-radius:5px;

}

/* bar chart for gaming penetration */
#canvas-container1{
    background-color:none;
    width:70%;
    height:400px;
}

#section4{
    height:fit-content;
}

/* map chart */
#canvas-container2{
    background-color:bisque;
    width:70%;
    height:400px;
}

/* scatterplot */
#canvas-container3{
    background-color:bisque;
    width:70%;
    height:400px;
}

/* pie chart by region */
#canvas-container4{
    background-color:bisque;
    width:70%;
    height:300px;
}

/* scatterplots */
#canvas-container5{
    background-color:bisque;
    width:70%;
    height:300px;
}

/* arranging buttons in table */

#buttonList{
   max-width:80%;
   display:flex;
   /* not sure why wrap isn't working.. buttons overflow when screen is smaller. need to rework */
   flex-wrap:wrap;
   justify-content:center;

}
/* styling the buttons to see different regions */
.region{
    height:20px;
    width: 120px;
    font-size:15px;
    font-family:'Rubik', sans-serif;
    background-color:rgb(170, 104, 169);
    color:rgb(0, 2, 0);
    border-radius:5px;
}